STRIPE_SECRET_KEY=rk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
NEXT_PUBLIC_APP_URL=https://botshelf.net
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
STRIPE_WEBHOOK_SECRET=whsec_...
STRIPE_WEBHOOK_ENDPOINT_ID=we_...
