STRIPE_SECRET_KEY=rk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
NEXT_PUBLIC_APP_URL=https://botshelf.net
STRIPE_WEBHOOK_SECRET=whsec_...
DATABASE_URL=postgresql://...
AUTH_SECRET=
AUTH_RESEND_KEY=
AUTH_EMAIL_FROM=BotShelf <sign-in@send.botshelf.net>
AUTH_URL=https://botshelf.net
